.hidden {
   display: none;
  }

.flex {
  display: flex;
  justify-content: center;
  text-align: center;
}

.absolute {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  padding : 0;
  margin: 0;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background: url("../img/space1.jpg") no-repeat center fixed;
  background-size: cover;
}

button {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
}

input {
  width: 250px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: azure;
}
input:focus {
    background-color: azure;
}

input:focus::placeholder {
  color: transparent;
}
input::placeholder {
  color: rgb(205, 205, 205);
}

#clock-form {
  color: azure;
  font-size: 150px;
}

#clock-seconds {
  margin: 0;
  border: 0;
  position: relative;
  top: 345px;
  font-size: 75px;
  
}

#greetings {
  color: azure;
  font-size: 20px;
}

#todo-list {
  color: azure;
  font-size: 15px;
  margin: 0;
  outline-color: azure;
}

#weather {
  position:absolute;
  top: 10px;
  right: 10px;
  color: azure;
}

#quote {
  color: azure;
  position:absolute;
  bottom: 10px;
  left: 10px;
  font-size: 15px;
}