.hidden {
   display: none;
  }

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
    margin : 0;
    height: 100vh;
    width: 100vw;
    background: url("../img/space1.jpg") no-repeat center fixed;
    background-size: cover;
    
}

#clock-form {
  height:25%;
  color: azure;
}

#greetings {
  height:25%;
  color: azure;
}
#todo, #todo-list {
  height:15%;
  color: azure;
}

#quote {
  height: 450px;
  color: azure;
}

